@import "@echennau/remi/tailwind.css";
@import "@echennau/remi";
@import "lenis/dist/lenis.css";

  :root[data-magicui-theme-vt="active"]::view-transition-old(root),
  :root[data-magicui-theme-vt="active"]::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
    pointer-events: none;
}

  :root[data-magicui-theme-vt="active"]::view-transition-new(root) {
    clip-path: var(--magicui-theme-vt-clip-from);
}